html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    height: 100%;
}

input, textarea, button, a {
    outline: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0;
}

fieldset, legend, textarea, input {
    padding: 0;
}

ul, ol {
    padding-left: 0;
    list-style-type: none;
}

a img, fieldset {
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: initial;
}

.hide {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

    input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
        box-shadow: inset 0 0 0 1000px #fff;
        -moz-box-shadow: inset 0 0 0 1000px #fff;
        -webkit-box-shadow: inset 0 0 0 1000px #fff;
    }

select {
    border-radius: 0;
    -webkit-border-radius: 0;
}

img{
    vertical-align: middle;
}

a.btn {
    text-decoration: none;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px 12px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 7px;
    cursor: pointer;
}

.btn_send {
    background-color: #5CB700;
    color: white;
}


.clearfix:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.main {
    height: 100%;
}

.main_inner {
    height: 100%;
    overflow: hidden;
}

.panel-phone {
    position: relative;
    width: 0px;
    height: 100%;
    float: left;
    background: #2e3238;
}

/*信息*/
.box {
    position: relative;
    background-color: #eee;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.box_hd {
    height: 0px;
}

.box_bd {
    padding: 10px 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}


.message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}

    .message.me {
        float: right;
        text-align: right;
        clear: right;
    }

    .message .avatar {
        width: 40px;
        height: 40px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        cursor: pointer;
    }

    .message.me .avatar {
        float: right;
    }

    .message .nickname {
        font-weight: 400;
        padding-left: 10px;
        font-size: 12px;
        height: 22px;
        line-height: 24px;
        color: #4f4f4f;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

        .message .nickname .time {
            margin-left: 10px;
        }

    .message.me .nickname {
        padding-right: 10px;
    }

        .message.me .nickname .time {
            margin-right: 10px;
        }

    .message .content {
        overflow: hidden;
    }

.bubble {
    max-width: 70%;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}

    .bubble.bubble_default {
        background-color: #fff;
    }

    .bubble:before, .bubble:after {
        position: absolute;
        top: 14px;
        border: 6px solid transparent;
        content: " ";
    }

    .bubble.left:before, .bubble.left:after {
        right: 100%;
    }

    .bubble.left:after {
        border-right-color: #FFF;
        border-right-width: 4px;
    }

    .bubble.right:before, .bubble.right:after {
        left: 100%;
    }

    .bubble.right:after {
        border-left-color: #FFF;
    }

    .bubble.bubble_primary {
        background-color: #b2e281;
    }

        .bubble.bubble_primary.left:after {
            border-right-color: #b2e281;
            border-right-width: 4px;
        }

        .bubble.bubble_primary.right:after {
            border-left-color: #b2e281;
            border-left-width: 4px;
        }

        .bubble.bubble_primary.right.arrow_primary:before {
            border-left-color: #b2e281;
            border-left-width: 4px;
        }

        .bubble.bubble_primary.right.arrow_primary:after {
            border-left-color: #fff;
            border-left-width: 4px;
            margin-left: -2px;
        }

    .bubble.no_arrow {
        background-color: transparent;
    }

        .bubble.no_arrow:before, .bubble.no_arrow:after {
            display: none;
        }

.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px;
}



    .bubble_cont img {
        vertical-align: middle;
    }

    .bubble_cont .plain {
        padding: 9px 13px;
    }

    .bubble_cont .picture {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        overflow: hidden;
        position: relative;
    }

        .bubble_cont .picture img {
            display: block;
            cursor: pointer;
            max-width: 100%;
        }


.box_ft {
    background-color: white;
    padding: 0 6px;
    border-top: 1px solid #ccc;
}

.box_ft_hd {
    display: flex;
}

    .box_ft_hd .eaitWrap {
        flex: 1;
        padding-bottom: 5px;
    }

    .box_ft_hd .editArea {
        width: 90%;
        border: 0;
        border-bottom: 1px solid #ababab;
        font-size: 14px;
        padding: 0 5px;
        line-height: 35px;
        margin-top: 5px;
    }

.web_wechat_face {
    background: url(img/ico.png) 0 -805px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.web_wechat_pic {
    background: url(img/ico.png) 0 -1638px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 3px;
}



.exp_hd {
    overflow: hidden;
    background-color: #F2F2F2;
}

.exp_hd_item {
    float: left;
}

    .exp_hd_item.active {
        background-color: #fff;
        border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
    }

    .exp_hd_item a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        font-size: 14px;
    }

.exp_bd {
    overflow: auto;
    background-color: #fff;
}

.exp_cont {
    display: none;
    height:200px;
    padding: 10px 0;
    min-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .exp_cont.active {
        display: block;
    }

    .eaitWrap .qqface{
        border:0;
    }
.tip{
  margin:10px 0 20px;
}
.tip li{
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #666;
}
/*信息end*/
.panel{ margin-bottom: 20px;width: 90%;height: auto;background-color:#fff; border:solid 1px transparent}
.panel-header{ border-bottom:solid 1px transparent; padding:8px 15px; font-size:14px; font-weight:700}/*面板标题*/
.panel-body{ padding:15px}/*面板内容*/
.panel-footer{background-color: #f5f5f5;border-top: 1px solid #ddd;padding:5px 20px}/*面板页脚*/
/*默认面板*/
.panel-default{border-color:#ddd}
.panel-default > .panel-header{ border-color:#ddd; background-color:#f5f5f5; color:#444}
/*默认状态*/
.input-text,.textarea{box-sizing:border-box;border:solid 1px #ddd;width:100%;
    -webkit-transition:all 0.2s linear 0s;
       -moz-transition:all 0.2s linear 0s;
         -o-transition:all 0.2s linear 0s;
            transition:all 0.2s linear 0s}
.textarea{ height:auto; font-size:14px; padding:4px}
.input-text:hover,.textarea:hover{border: solid 1px #3bb4f2}
/*得到焦点后*/
.input-text.focus,textarea.focus{border:solid 1px #0f9ae0 \9;border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)}
/*默认table*/
table{width:100%;empty-cells:show;background-color:transparent;border-collapse:collapse;border-spacing:0}
table th{text-align:left; font-weight:400}
/*带水平线*/
.table th{font-weight:bold}
.table th,.table td{padding:8px;line-height:20px}
.table td{text-align:left}
.table tbody tr.success > td{background-color:#dff0d8}
.table tbody tr.error > td{background-color:#f2dede}
.table tbody tr.warning > td{background-color:#fcf8e3}
.table tbody tr.info > td{background-color:#d9edf7}
.table tbody + tbody{border-top:2px solid #ddd}
.table .table{background-color:#fff}

/*带横向分割线*/
.table-border{border-top:1px solid #ddd}
.table-border th,.table-border td{border-bottom:1px solid #ddd}

/*th带背景*/
.table-bg thead th{background-color:#F5FAFE}
/*带外边框*/
.table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0}
.table-bordered th,.table-bordered td{border-left:1px solid #ddd}
.table-border.table-bordered{border-bottom:0}
/*标签*/
.clearfix:after{content:"\20";display:block;height:0;clear:both;visibility:hidden}.clearfix{zoom:1}
.tabBar {border-bottom: 2px solid #222}
.tabBar span {background-color: #e8e8e8;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px}
.tabBar span.current{background-color: #222;color: #fff}
.tabCon {padding: 15px;display: none}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
.main-row{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-flex;
}
.col-left{
  width: 40%;
  height: 100%;
}
.col-right{
  width: 60%;
  height: 100%;
}
.iphone{
  margin: 50px auto;
  background: url('../images/iphone6_759af9b.png') no-repeat;
  position: relative;
  z-index: 1;
  width: 374px;
  height: 714px;
}
.iphone-title{
  position: absolute;
  top: 90px;
  left: 85px;
  color: #fff;
  font-size: 14px;
  width: 226px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iphone-content{
  position: absolute;
  top: 118px;
  left: 26px;
  border: 0;
  background: #fff;
  width: 319px;
  height: 504px;
  overflow: hidden;
}
.config-all{
  margin-top: 50px;
}
.config{
  width: 90%;
  height: 35px;
  display: inline-flex;
}
.form-lable{
  padding: 0 15px;
}
#processList{
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}
