
* {
  margin: 0;
  padding: 0;
}
#app {
  position: relative;
  width: 1280px;
  height: 720px;
  background-color: #ededed;
  font-size: 24px;
  color: #ffffff;
  line-height: 50px;
  box-sizing: border-box;
}
.header {
  height: 50px;
  background-color: #02bca4;
  font-size: 30px;
  text-align: center;
}
.body {
  width: 1280px;
  height: 670px;
  background: url('./bg.jpg');
  padding-top: 120px;
  box-sizing: border-box;
}
.content {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 20px;
}
.row .label {
  width: 150px;
  text-align: right;
  float: left;
}
.row .input {
  display: inline-flex;
  text-align: right;
  float: right;
}
.row .input .value{
  width: 100px;
  font-size: 16px;
  text-align: center;
}
.row .input .value.active{
  color: #02bca4;
}
.clearfix:before,
.clearfix:after{
  display: block;
  content:"";
  clear: both;
}
.change-type:before{
  content: "<";
}
.change-type:after{
  content: ">";
}
.select-type::before{
  content: "";
  margin-right: 20px;
}
.select-type::after{
  content: ">";
  margin-left: 10px;
}
.button{
  width: 200px;
  text-align: center;
  margin: 50px auto 30px;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  color: #02bca4;
  padding: 10 50px;
  border-radius: 20px;
}
.button.active{
  background-color: #02bca4;
  color: #ffffff;
}
.brithday-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  z-index: 999;
  background-color: rgba(0,0,0,0.9);
}
.brithday-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 380px;
  margin-left: -250px;
  margin-top: -190px;
  border-radius: 20px;
  overflow: hidden;
}
.brithday-body .year,
.brithday-body .month,
.brithday-body .day{
  width: 150px;
  float: left;
  text-align: center;
}
.brithday-body .year .title,
.brithday-body .month .title,
.brithday-body .day .title{
  background-color: rgba(255,255,255,0.2);
}
.brithday-body ul{
    width: 150px;
    height: 330px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.3);
}
.brithday-body ul li{
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
}
.brithday-body .active {
  color: #02bca4;
}
.code-result {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -48px;
}
#code {
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
}
#code canvas {
  display: block;
}
.dialog{
  width: 700px;
  height: 660px;
  padding: 10px 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}
.message {
  margin-bottom: 16px;
  float: left;
  width: 100%;
}
.message.me {
  float: right;
  text-align: right;
  clear: right;
}
.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  float: left;
  cursor: pointer;
}
.message.me .avatar {
  float: right;
}
.message .nickname {
  font-weight: 400;
  padding-left: 10px;
  font-size: 12px;
  height: 22px;
  line-height: 24px;
  color: #4f4f4f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.message .nickname .time {
  margin-left: 10px;
}
.message.me .nickname {
  padding-right: 10px;
}
.message.me .nickname .time {
  margin-right: 10px;
}
.message .content {
  overflow: hidden;
}
.bubble {
    max-width: 70%;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    line-height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}
.bubble.bubble_default {
  color: #999999;
  background-color: #fff;
}
.bubble:before, .bubble:after {
  position: absolute;
  top: 14px;
  border: 6px solid transparent;
  content: " ";
}
.bubble.left:before, .bubble.left:after {
  right: 100%;
}
.bubble.left:after {
  border-right-color: #FFF;
  border-right-width: 4px;
}
.bubble.right:before, .bubble.right:after {
  left: 100%;
}
.bubble.right:after {
  border-left-color: #FFF;
}
.bubble.bubble_primary {
  background-color: #02bca4;
}
.bubble.bubble_primary.left:after {
  border-right-color: #02bca4;
  border-right-width: 4px;
}
.bubble.bubble_primary.right:after {
  border-left-color: #02bca4;
  border-left-width: 4px;
}
.bubble.bubble_primary.right.arrow_primary:before {
  border-left-color: #02bca4;
  border-left-width: 4px;
}
.bubble.bubble_primary.right.arrow_primary:after {
  border-left-color: #fff;
  border-left-width: 4px;
  margin-left: -2px;
}
.bubble.no_arrow {
  background-color: transparent;
}
.bubble.no_arrow:before, .bubble.no_arrow:after {
  display: none;
}
.bubble_cont {
  word-wrap: break-word;
  word-break: break-all;
  min-height: 25px;
}
.bubble_cont img {
  vertical-align: middle;
}
.bubble_cont .plain {
  padding: 9px 13px;
}
.bubble_cont .picture {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.bubble_cont .picture img {
  display: block;
  cursor: pointer;
  max-width: 100%;
}
