* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  background-color: #070924;
}
ul, ul li {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
  line-height: 28px;
}
.left {
  display: flex;
  font-size: 0;
  width: calc(100% - 250px);
  height: 100%;
}
.overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 88;
}
.overflow:hover .fullscreen {
  display: block;
}
.bitrate {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  color: red;
}
.fullscreen {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  text-align: right;
}
.fullscreen .iconfont.icon-quanping, .fullscreen .iconfont.icon-quxiaoquanping {
  cursor: pointer;
  font-size: 40px;
  line-height: 50px;
  margin-right: 10px;
  color: #fff;
}
.mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #000;
}
.mask .loading-mask, .mask .loading-body, .mask .loading-foot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 67px;
  margin-top: -110px;
  margin-left: -35px;
  z-index: 998;
}
.mask .loading-mask {
  z-index: 999;
}
.mask .loading-body {
  -webkit-animation: play 10s linear infinite;
  -moz-animation: play 10s linear infinite;
  animation: play 10s linear infinite;
}
@-webkit-keyframes play{
    0%{-webkit-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes play {
    0%{-moz-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes play{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.mask .loading-foot {
  width: 50px;
  height: 12px;
  margin-top: -50px;
  margin-left: -25px;
}
.mask-info {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50%;
  left: 0;
  z-index: 99;
  margin-top: -20px;
  font-size: 16px;
  color: #fff;
}
.mask .loading-mask.min-loading, .mask .loading-body.min-loading {
  width: 30px;
  height: 29px;
  margin-top: -65px;
  margin-left: -15px;
}
.mask .loading-foot.min-loading {
  width: 25px;
  height: 6px;
  margin-top: -37px;
  margin-left: -12.5px;
}
.mask .mask-info img{
  margin-left: 15px;
}
.mask-info.min-info {
  font-size: 12px;
}
.mask-info.min-info img{
  margin-left: 8px;
  width: 30px;
}
.right {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  width: 250px;
  height: 100%;
  color: #fff;
}
.main {
  position: relative;
  width: 75%;
  /* width: 100%; */
  height: 100%;
}
.other {
  /* display: none; */
  position: relative;
  width: calc(25% - 10px);
  margin-left: 10px;
  height: 100%;
}
.min {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc((100% - 20px) / 3);
  margin-bottom: 10px;
}
.min-hide {
  position:absolute;
  top:0;
  right: 0;
  z-index: -1;
}
.video {
  background-color: #000;
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
}
.title {
  width: 45%;
  line-height: 70px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
}
.header-line {
  display: inline-block;
  width: 1px;
  height: 35px;
  margin-top: 20px;
  background-color: #61626d;
}
.date {
  width: 100%;
  padding-left: 30px;
  display: flex;
}
.date-week {
  line-height: 25px;
  font-size: 16px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 15px;
  text-align: center;
}
.time {
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
}
.video-list {
  background-color: #1d1c2c;
  width: 100%;
  height: calc(66.666% - 75px);
  /* height: 66.6666%; */
  padding: 20px 30px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
}
.country-item {
  cursor: pointer;
}
.country-name {
  font-size: 15px;
}
.country-name.active {
  color: #fff;
}

.country-flag {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 28px;
  font-size: 0;
  vertical-align: middle;
}
.camera-item {
  cursor: pointer;
}
.camera-list {
  margin-left: 40px;
}
.camera-name {
  display: flex;
  align-items: flex-end;
}
.camera-name.active {
  color: #fff;
}
.country-name.no-link, .camera-name.no-link {
  cursor: default;
}
.icon-qiakoujiankongshexiangtou {
  margin-right: 10px;
  font-size: 18px;
}
.control {
  position: relative;
  width: 100%;
  height: calc(33.333% - 5px);
  margin-top: 10px;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.controler-direction {
  position: absolute;
  width: 9rem;
  height: 9rem;
  top: 50%;
  margin-top: -4.5rem;
  left: 2%;
  transform: scale(0.7, 1);
}
.controler-direction .outter-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  transform-origin: center;
  transform: rotate(45deg);
  border: 2px solid #5c5b67;
}
.controler-direction .direction {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  outline: 1px solid #333146;
}
.controler-direction .direction:nth-child(1):active {
  background: -webkit-linear-gradient(left top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(left top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(left top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.controler-direction .direction:nth-child(2):active {
  background: -webkit-linear-gradient(right top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(right top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(right top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.controler-direction .direction:nth-child(3):active {
  background: -webkit-linear-gradient(left bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(left bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(left bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.controler-direction .direction:nth-child(4):active {
  background: -webkit-linear-gradient(right bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(right bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(right bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.4), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.controler-direction .inner-circle {
  position: absolute;
  top: 27.5%;
  left: 27.5%;
  margin-top: -2px;
  margin-left: -2px;
  width: 45%;
  height: 45%;
  border: 4px solid #333146;
  border-radius: 100%;
  background-color: #070924;
}
.controler-zoom {
  position: absolute;
  top: 31%;
  left: 70%;
  width: 2.5rem;
  height: 7.5rem;
  text-align: center;
  line-height: 2.5rem;
}
.zoom:nth-child(1) {
  border-radius: 50% 50% 0 0;
  border: 2px solid #5c5b67;
  border-bottom: 0;
  cursor: pointer;
  font-size: 18px;
}
.zoom:nth-child(2) {
  border: 2px solid #5c5b67;
  border-top: 0;
  border-bottom: 0;
  font-size: 12px;
  color: #5c5b67;
}
.zoom:nth-child(3) {
  border-radius: 0 0 50% 50%;
  border: 2px solid #5c5b67;
  border-top: 0;
  cursor: pointer;
  font-size: 20px;
}
.zoom:nth-child(1):active {
  background: -webkit-linear-gradient(top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(top, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.zoom:nth-child(3):active {
  background: -webkit-linear-gradient(bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: -o-linear-gradient(bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: -moz-linear-gradient(bottom, rgba(110, 109, 123, 0.6), rgba(110, 109, 123, 0.1));
  background: rgba(110, 109, 123, 0.4);
}
.controler-setting {
  position: absolute;
  top: 30px;
  right: 30px;
}
.controler-setting .iconfont {
  margin-right: 10px;
  font-size: 30px;
  color: #5c5c68;
  cursor: pointer;
}
.controler-setting .controler-speed {
  display: none;
  position: absolute;
  top: 0;
  right: 85px;
  width: 40px;
  margin: 0;
  padding: 10px 20px 10px 30px;
  background-color: #1d1c2c;
}
.nowSpeed {
  color: #5c5c68;
  display: flex;
  line-height: 30px;
}
.controler-setting .controler-speed::after{
  content: ' ';
  display: block;
  position: absolute;
  top: 10px;
  right: -20px;
  border-width:10px;
  border-style:solid;
  border-color:transparent transparent transparent #1b1a27;
}
.controler-setting .controler-speed li{
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 2;
  color: rgba(255, 255, 255, 0.5);
}
.controler-setting .controler-speed li.active{
  color: #fff;
}
.controler-setting .controler-speed:hover{
  display: block;
}
.controler-setting .nowSpeed:hover + .controler-speed{
  display: block;
}
@media (max-width:1400px) {
  .date {
    width: 100%;
    padding-left: 20px;
    display: flex;
  }
  .title {
    font-size: 16px;
  }
  .date-week {
    font-size: 16px;
  }
  .time {
    font-size: 18px;
  }
  .video-list {
    padding: 20px 20px;
  }
  .controler-direction {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 53%;
    margin-top: -3.5rem;
    left: 7%;
  }
  .controler-direction .direction {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }
  .controler-zoom {
    top: 33%;
    left: 68%;
    width: 2.2rem;
    height: 6rem;
    text-align: center;
    line-height: 2rem;
  }
  .controler-setting {
    top: 10px;
    right: 40px;
  }
  .controler-setting .controler-speed {
    font-size: 12px;
    top: -5px;
    right: 85px;
    width: 40px;
    margin: 0;
    padding: 5px 10px 5px 20px;
    background-color: #1d1c2c;
  }
  .controler-direction {
    transform: scale(1, 1);
  }
}
