<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>监控汇总</title>
    <link rel="stylesheet" href="./css/monitor.css?version=1528450098964">
    <link rel="stylesheet" href="./css/swiper.min.css?version=1528450098964">
    <script src="./js/jquery.min.js?version=1528450098964" charset="utf-8"></script>
    <script src="./js/zabbix.js?version=1528450098964" charset="utf-8"></script>
    <script src="./js/template-web.js?version=1528450098964" charset="utf-8"></script>
    <script src="./js/moment.js?version=1528450098964" charset="utf-8"></script>
    <script src="./js/moment-timezone-with-data.min.js?version=1528450098964" charset="utf-8"></script>
    <script src="./js/swiper.min.js?version=1528450098964" charset="utf-8"></script>
    <script src="./config/monitor-config.js?version=1528450098964" charset="utf-8"></script>
  </head>
  <body>
    <div id="countryList"></div>
    <script id="countryTpl" type="text/html">
      <div class="title">服务状态监控</div>
      <ul class="list">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{each list}}
            {{if $index%22==0}}<div class="swiper-slide">{{/if}}
              <li>
                <div class="icon"><img src="./img/country/{{$value.enName}}.jpg" width="30px"/></div>
                <div class="name">{{$value.name}}</div>
                <div class="time" data-timezone="{{$value.timezone}}"></div>
                <div class="service">
                  {{each $value.service service}}
                  <div class="status {{service.status}}">{{service.name}}</div>
                  {{/each}}
                </div>
              </li>
            {{if ($index-21)%22==0}}</div>{{/if}}
            {{/each}}
          </div>
        </div>
      </ul>
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#countryList').html(template('countryTpl', {list: countryList}))
        var swiper = new Swiper('.swiper-container', {
          direction: 'vertical',
          loop: true,
          speed:1500,
          autoplay: {
            delay: 4000
          },
          effect : 'fade',
          fadeEffect: {
            crossFade: false,
          }
        })
        setTime()
        setInterval(setTime(), 60000)
        function setTime() {
          $('.time').each(function(index){
            var timezone = $(this).attr('data-timezone')
            $(this).html(moment().tz(timezone).format('MM-DD HH:mm'))
          })
        }
      })
    </script>
  </body>
</html>
