<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>监控汇总</title>
  <link rel="stylesheet" href="./css/swiper.min.css?version=1528769604144">
  <link rel="stylesheet" href="./css/monitor.css?version=1528769604144">
  <script src="./js/jquery.min.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/swiper.min.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/zabbix.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/template-web.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/moment.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/moment-timezone-with-data.min.js?version=1528769604144" charset="utf-8"></script>
  <script src="./config/monitor-config.js?version=1528769604144" charset="utf-8"></script>
</head>

<body>
  <div id="countryList"></div>
  <script id="countryTpl" type="text/html">
    <div class="title">服务状态监控</div>
    <!-- <ul id="listScroll" class="list"> -->
    <div class="swiper-container">
      <ul class="list swiper-wrapper">
        {{each list}}
        {{if $index%22 === 0}}<div class="swiper-slide">{{/if}}
        <li>
          <div class="icon"><img src="./img/country/{{$value.enName}}.jpg" width="30px" /></div>
          <div class="name">{{$value.name}}</div>
          <div class="time" data-timezone="{{$value.timezone}}"></div>
          <div class="service">
            {{each $value.service service}}
            <span class="status {{service.status}}" id="{{service.name}}-{{$value.enName}}">{{service.name}}</span> {{/each}}
          </div>
        </li>
        {{if ($index-21)%22 === 0}}</div>{{/if}}
        {{/each}}
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <!-- </ul> -->
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      var zabbix_server = new $.jqzabbix()
      var cnNameObj = {}
      // 先登录获取zabbix的auth
      zabbix_server.userLogin()
      // 将配置文件中的应用列表，改为更好渲染的形式
      countryList.forEach(function(item) {
        item.service = {}
        cnNameObj[item.name] = item.enName
        item.hasService.forEach(function(service) {
          item.service[service] = {
            name: service,
            status: ''
          }
        })
      })
      // 渲染模板
      $('#countryList').html(template('countryTpl', {
        list: countryList
      }))
      // 执行翻页
      var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (index + 1) + '</span>';
          },
        },
      })
      // 执行任务
      task()
      // 执行定时任务
      setInterval(task(), 60000)
      // 待执行的任务合集
      function task() {
        updateTime()
        getBossData()
        getOTTData()
      }
      // 定时更新时间
      function updateTime() {
        $('.time').each(function(index) {
          var timezone = $(this).attr('data-timezone')
          $(this).html(moment().tz(timezone).format('HH:mm'))
        })
      }
      // 获取BOSS服务的应用状态
      function getBossData() {
        var aws_boss_groupids = ['43', '46'],
          boss_groupids = [],
          boss_error = {}
        // 先获取到所有 海外_国家名_BOSS 命名规则的主机组，这些都是老BOSS
        zabbix_server.queryData('hostgroup.get', {
          output: ['gourpid', 'name']
        }, function(res) {
          if (res.result !== undefined) {
            res.result.forEach(function(item) {
              if (item.name.search(/^海外_(\w)+_BOSS$/ig) >= 0) {
                var countryName = item.name.replace('海外_', '').replace('_BOSS', '')
                boss_error[countryName] = 0
                boss_groupids.push(item.groupid)
              }
            })
            // 获取所有老BOSS的告警信息
            zabbix_server.queryData('trigger.get', {
              'groupids': boss_groupids,
              'only_true': 1, // 仅返回最近处于问题状态的触发器
              'monitored': 1, //属于受监控主机的已启用触发器
              'min_severity': 2,
              'active': 1, // 只返回属于受监控主机的启用的触发器
              'selectHosts': ['name'], // 同时查出所属的主机信息
              'selectGroups': ['name'], // 同时查出所属的主机组信息
              'filter': {
                'value': '1'
              },
              'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
            }, function(res) {
              if (res.result !== undefined) {
                res.result.forEach(function(item) {
                  var countryName = item.groups[0].name.replace('海外_', '').replace('_BOSS', '')
                  boss_error[countryName] += 1
                })
                updateServiceStatus(boss_error, 'BOSS')
              }
            })
            // 获取aws下的所有应用集，新BOSS的告警采用了应用集的形式放到了aws上，先获取到 国际名_BOSS 格式的应用集
            zabbix_server.queryData('application.get', {
              'groupids': aws_boss_groupids,
              'output': ['applicationid', 'name']
            }, function(res) {
              if (res.result !== undefined) {
                var applicationIds = [],
                  applications = {}
                res.result.forEach(function(item) {
                  if (item.name.search(/(\w)+_BOSS$/ig) >= 0) {
                    var name = item.name.replace('_BOSS', '')
                    if (boss_error[name] === undefined) {
                      boss_error[name] = 0
                    }
                    if (applications[name] === undefined) {
                      applications[name] = [item.applicationid]
                    } else {
                      applications[name].push(item.applicationid)
                    }
                    applicationIds.push(item.applicationid)
                  }
                })
                // 循环应用集，获取新BOSS的告警数量
                for (var x in applications) {
                  (function(name, ids) {
                    zabbix_server.queryData('trigger.get', {
                      'applications': ids,
                      'only_true': 1, // 仅返回最近处于问题状态的触发器
                      'monitored': 1, //属于受监控主机的已启用触发器
                      'min_severity': 2,
                      'active': 1, // 只返回属于受监控主机的启用的触发器
                      'filter': {
                        'value': '1'
                      },
                      'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
                    }, function(res) {
                      boss_error[name] += res.result.length
                      updateServiceStatus(boss_error, 'BOSS')
                    })
                  })(x, applications[x])
                }
                // 获取所有新BOSS的告警数量
                zabbix_server.queryData('trigger.get', {
                  'applications': applicationIds,
                  'only_true': 1, // 仅返回最近处于问题状态的触发器
                  'monitored': 1, //属于受监控主机的已启用触发器
                  'min_severity': 2,
                  'active': 1, // 只返回属于受监控主机的启用的触发器
                  'filter': {
                    'value': '1'
                  },
                  'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
                }, function(res) {
                  var applicationErrors = res.result.length
                  // 获取aws上所有的告警数量
                  zabbix_server.queryData('trigger.get', {
                    'groupids': aws_boss_groupids,
                    'only_true': 1, // 仅返回最近处于问题状态的触发器
                    'monitored': 1, //属于受监控主机的已启用触发器
                    'min_severity': 2,
                    'active': 1, // 只返回属于受监控主机的启用的触发器
                    'filter': {
                      'value': '1'
                    },
                    'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
                  }, function(res) {
                    // aws的告警数量 = aws主机组的告警数量 - 属于新BOSS应用集告警数量
                    boss_error['AWS'] = res.result.length - applicationErrors
                    updateServiceStatus(boss_error, 'BOSS')
                  })
                })
              }
              updateServiceStatus(boss_error, 'BOSS')
            })
          }
        })
      }
      // 获取OTT流量
      function getOTTData() {
        var aws_ott_groupids = ['36', '32', '57'],
          ott_groupids = {},
          ott_error = {}
        // 先获取到所有 海外_国家名_BOSS 命名规则的主机组，这些都是老BOSS
        zabbix_server.queryData('hostgroup.get', {
          output: ['gourpid', 'name']
        }, function(res) {
          if (res.result !== undefined) {
            res.result.forEach(function(item) {
              if (item.name.search(/^CDN_(\S)+(_(\w)+)*$/ig) >= 0) {
                var countryName = cnNameObj[item.name.split('_')[1]]
                ott_error[countryName] = 0
                ott_groupids[countryName] = item.groupid
              }
            })
            updateServiceStatus(ott_error, 'OTT')
            // 循环获取每个组告警信息
            for (var x in ott_groupids) {
              (function(name, groupid) {
                zabbix_server.queryData('trigger.get', {
                  'groupids': groupid,
                  'only_true': 1, // 仅返回最近处于问题状态的触发器
                  'monitored': 1, //属于受监控主机的已启用触发器
                  'min_severity': 2,
                  'active': 1, // 只返回属于受监控主机的启用的触发器
                  'filter': {
                    'value': '1'
                  },
                  'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
                }, function(res) {
                  ott_error[name] = res.result.length
                  updateServiceStatus(ott_error, 'OTT')
                })
              })(x, ott_groupids[x])
            }
            // 获取AWS的告警信息
            zabbix_server.queryData('trigger.get', {
              'groupids': aws_ott_groupids,
              'only_true': 1, // 仅返回最近处于问题状态的触发器
              'monitored': 1, //属于受监控主机的已启用触发器
              'min_severity': 2,
              'active': 1, // 只返回属于受监控主机的启用的触发器
              'filter': {
                'value': '1'
              },
              'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
            }, function(res) {
              ott_error['AWS'] = res.result.length
              updateServiceStatus(ott_error, 'OTT')
            })
          }
        })
      }
      // 更新某个服务的应用状态
      function updateServiceStatus(error_data, type) {
        for (var x in error_data) {
          var className = error_data[x] == 0 ? 'good' : error_data[x] > 5 ? 'bad' : 'well'
          $('#' + type + '-' + x).attr('class', 'status ' + className)
        }
      }
    })
  </script>
</body>

</html>
