<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cache站点-四达时代网络监控-OTT</title>
    <link rel="stylesheet" href="./css/cache.css?version=1527655294538">
  </head>
  <body>
  <div id="content"></div>
  <script id="contentTpl" type="text/html">
    <div class="title">{{cache.name}}</div>
    <div class="iframe">
      <iframe src="{{cache.url}}" id="iframe" width="100%" height="{{cache.height}}px" frameborder="0" scrolling="no" style="border:0px;"></iframe>
    </div>
    <div class="content">
      <div class="sub-title">拓扑</div>
      <div class="body" style="margin-top:{{cacheList[0].length*35 + 20}}px;margin-bottom:{{cacheList[cacheList.length-1].length*35 + 20}}px;">
        <div class="col-1 after-line"><span class="arrow"></span><img src="./img/cache_radar.png" /></div>
        <div class="col-2">
          {{each reciveList}}
          <div class="item{{if $index==0}} first{{/if}}{{if $index==(reciveList.length-1)}} last{{/if}}{{if reciveList.length==1}} once{{/if}}">
            <div class="point{{if $value.status!=1}} error{{/if}}">{{$value.name}}</div>
          </div>
          {{/each}}
        </div>
        <div class="col-1 before-line after-line"><span class="arrow"></span><img src="./img/cache_server.png" /></div>
        <div class="col-2">
          {{each osList}}
          <div class="item{{if $index==0}} first{{/if}}{{if $index==(osList.length-1)}} last{{/if}}{{if osList.length==1}} once{{/if}}">
            <div class="point{{if $value.status!=1}} error{{/if}}">{{$value.name}}</div>
          </div>
          {{/each}}
        </div>
        <div class="col-1 before-line  after-line"><span class="arrow"></span><img src="./img/cache_server.png" /></div>
        <div class="col-3">
          {{each cacheList cache}}
          <div class="item{{if $index==0}} first{{/if}}{{if $index==(cacheList.length-1)}} last{{/if}}{{if cacheList.length==1}} once{{/if}}"
          style="height:{{cache.length*70+30}}px;{{if $index==0||$index==(cacheList.length-1)}}height:{{(cache.length*70+30)/2}}px;{{/if}}">
            <div class="point"
              {{if $index==0}}style="height:{{cache.length*70}}px;margin-top:-{{cache.length*35}}px;"
              {{else if $index==(cacheList.length-1)}}style="height:{{cache.length*70}}px;margin-bottom:-{{cache.length*35}}px;"
              {{else}}style="height:{{cache.length*70}}px"{{/if}}>
              {{each cache item}}
              <div class="child-point{{if item.status!=1}} error{{/if}}">{{item.name}}</div>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </script>
  <script src="./js/config.js?version=1527655294537" charset="utf-8"></script>
  <script src="./js/jquery.min.js?version=1527655294537" charset="utf-8"></script>
  <script src="./js/zabbix.js?version=1527655294537" charset="utf-8"></script>
  <script src="./js/template-web.js?version=1527655294538" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var groupid = window.location.hash.replace(/[^0-9]/ig, '')
      var cache = {}
      cache_list.forEach(function(item) {
        if (item.groupid == groupid) {
          cache = item
        }
      })
      var zabbix_server = new $.jqzabbix()
      // 先登录获取zabbix的auth
      zabbix_server.userLogin()
      // 先获取该主机组下的所有主机
      zabbix_server.queryData('host.get',{
        'groupids': groupid,
        'output': ['hostid', 'name']
      }, function(res) {
        if (res.result) {
          var reciveList = [
            {name: '接收机1', hostid: '0', status: 1},
            {name: '接收机2', hostid: '0', status: 1}
          ],osList = [], cacheObj = {}, cacheList = []
          res.result.forEach(function(item) {
            var cache_split = item.name.split('-')
            var name = cache_split[cache_split.length-2], num = parseInt(cache_split[cache_split.length-1])
            item.status = 1
            if (name == 'OS' || name == 'CAC') {
              osList.push(item)
            } else {
              if (name == 'STR') {
                num = Math.ceil(num/7)
              }
              if (cacheObj[num] === undefined) {
                cacheObj[num] = []
              }
              cacheObj[num].push(item)
            }
          })
          for (var x in cacheObj) {
            cacheList.push(cacheObj[x])
          }
          var tpldata = {
            cache: cache,
            reciveList: reciveList,
            osList: osList,
            cacheList: cacheList
          }
          getServerStatus(groupid, tpldata)
        }
      })
      // 获取主机组问题
      function getServerStatus(groupid, data) {
        zabbix_server.queryData('trigger.get',{
          'groupids': groupid,
          'only_true': 1, // 仅返回最近处于问题状态的触发器
          'monitored': 1, //属于受监控主机的已启用触发器
          'active': 1, // 只返回属于受监控主机的启用的触发器
          'selectHosts': ['name'], // 同时查出所属的主机组信息
          'output': ['triggerid', 'hosts', 'description', 'priority', 'value']
        }, function(res) {
          if (res.result) {
            var error = {}
            res.result.forEach(function(item) {
              var name = item.hosts[0].name
              if (error[name] == undefined) {
                error[name] = 0
              }
              error[name] += 1
            })
            var osList = data.osList,
            cacheList = data.cacheList
            for (var i = 0,osLen = osList.length; i < osLen; i++) {
              if(error[osList[i].name] != undefined) {
                osList[i].status = 0
              }
            }
            for (var j = 0,cacheLen = cacheList.length; j < cacheLen; j++) {
              if(error[cacheList[j].name] != undefined) {
                cacheList[j].status = 0
              }
            }
            $('#content').html(template('contentTpl', data))
          }
        })
      }
    })
  </script>
  </body>
</html>
