<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>告警列表</title>
  <link rel="stylesheet" href="./css/error.css?version=1528450098964">
</head>

<body>
  <div id="table"></div>
  <div class="echart title">告警分布</div>
  <div id="main"></div>
  <script src="./js/jquery.min.js?version=1528450098964" charset="utf-8"></script>
  <script src="./js/zabbix.js?version=1528450098964" charset="utf-8"></script>
  <script src="./js/template-web.js?version=1528450098964" charset="utf-8"></script>
  <script src="./js/moment.js?version=1528450098964" charset="utf-8"></script>
  <script src="./js/config.js?version=1528450098964" charset="utf-8"></script>
  <script src="./js/echarts.js?version=1528450098964" charset="utf-8"></script>
  <script id="tableTpl" type="text/html">
    <div class="title">
      实时告警信息
      <div class="result">
        <div class="light bad-status"></div><span class="bad">{{badList.length}}</span>
        <div class="light error-status"></div><span class="error">{{errorList.length}}</span></div>
    </div>
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th id="name">告警主机</th>
          <th id="desc">告警信息</th>
          <th>告警时间</th>
          <th>持续时间</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{each errorList}} {{if $index
        < 10}} <tr>
          <td><span>{{$value.hosts[0].name}}</span></td>
          <td class="desc"><span>{{$value.description}}</span></td>
          <td>{{$value.date}}</td>
          <td>{{$value.time}}</td>
          <td>
            <div class="light error-light"></div>
          </td>
          </tr>
          {{/if}} {{/each}} {{if len > 0}} {{each badList}} {{if $index
          < len}} <tr>
            <td><span>{{$value.hosts[0].name}}</span></td>
            <td class="desc"><span>{{$value.description}}</span></td>
            <td>{{$value.date}}</td>
            <td>{{$value.time}}</td>
            <td>
              <div class="light bad-light"></div>
            </td>
            </tr>
            {{/if}} {{/each}} {{/if}}
      </tbody>
    </table>
  </script>
  <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'))
    var zabbix_server = new $.jqzabbix()
    // 先登录获取zabbix的auth
    zabbix_server.userLogin()
    task()
    /**
     * 下面是定时任务，将上述获取过程，写入定时任务
     * 默认是60秒请求一次
     */
    setInterval(function() {
      task()
    }, 60000)

    function task() {
      zabbix_server.queryData('trigger.get', {
        'only_true': 1, // 仅返回最近处于问题状态的触发器
        'monitored': 1, //属于受监控主机的已启用触发器
        'active': 1, // 只返回属于受监控主机的启用的触发器
        'min_severity': 2,
        'selectHosts': ['name'], // 同时查出所属的主机信息
        'selectGroups': ['name'], // 同时查出所属的主机组信息
        // 'sortfield': 'triggerid',
        'sortorder': 'ASC',
        'filter': {
          'value': '1'
        },
        'output': ['description', 'hosts', 'groups', 'lastchange', 'priority']
      }, function(res) {
        if (res.result) {
          var result = res.result.reverse()
          moment.locale('zh_cn')
          var errorList = [],
            badList = [],
            group = {},
            groupList = []
          for (var i = 0, resLen = result.length; i < resLen; i++) {
            var groupName = result[i].groups[0].name
            console.log(groupName, result[i].description)
            if (error_group_list.indexOf(groupName) >= 0 || groupName.indexOf('CDN_') >= 0){
              switch (groupName) {
                case '0701_AWS_研究院':
                  groupName = 'AWS OTT后台'
                  break;
                case '南非上云_OTT':
                  groupName = '南非OTT前端'
                  break;
                case '南非os组':
                  groupName = '南非OTT前端'
                  break;
                case '国内_总部机房':
                  groupName = ''
                  break;
                case '国内_研究院_Aws_Openvpn_server':
                  groupName = 'OTT链路'
                  break;
                default:
                  groupName = groupName
              }
              if (groupName.indexOf('CDN_') >= 0) {
                groupName = '四达CDN'
              }
              result[i].date = moment(result[i].lastchange * 1000).format('HH:mm:ss')
              result[i].time = moment(result[i].lastchange * 1000).fromNow().replace('前', '')
              if (result[i].priority <= 3) {
                badList.push(result[i])
              } else {
                errorList.push(result[i])
              }
              if (group[groupName] === undefined) {
                group[groupName] = 0
              }
              group[groupName] += 1
            }
          }
          for (var x in group) {
            groupList.push({name:x, value: group[x]})
          }
          groupList = groupList.sort(function(a, b) {
            return b.value - a.value
          })
          var option = {
            title: {
              text: badList.length + errorList.length,
              x: 'center',
              y: 'center',
              textStyle: {
                fontWeight: 'normal',
                color: '#ffffff',
                fontSize: 40
              }
            },
            color: ['#30af81','#d1d41a','#ff1d04','#73b9bc','#7289ab', '#91ca8c','#f49f42'],
            grid: {
              top: 0,
              left: 0,
              right: 0,
              bottom: 0
            },
            series: [{
              name: '告警数量',
              type: 'pie',
              center: ['50%', '50%'],
              radius: ['30%', '80%'],
              // startAngle: 0,
              roseType: 'area',
              selectedMode: 'single',
              data: groupList
            }]
          }

          myChart.setOption(option, true)
          var len = errorList.length > 11 ? 0 : 11 - errorList.length
          $('#table').html(template('tableTpl', {
            badList: badList,
            errorList: errorList,
            len: len
          }))
          $('.name').find('div').addClass('con')
          $('.desc').find('div').addClass('con')
        }
      })
    }
  </script>
</body>

</html>
