@font-face {
  font-family: hyzh;
  src: url('./hyzh.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #929293;
  background-color: #303030;
  font-family: 'hyzh';
}

.title {
  margin-top: 5px;
  display: inline-block;
}

.title>div {
  color: #FFF;
  float: left;
}

.titleImage {
  width: 30px;
  padding: 3px 5px;
  border-radius: 32px;
  border: 1px solid #6e6e6e;
}

.titleImage>img {
  width: 100%;
}

.titleName {
  padding-top: 12px;
  padding-left: 10px;
}

.sassList {
  width: 100%;
  display: inline-block;
}

.listPanel {
  display: flex;
  margin-top: 50px;
}

.sassTitle {
  flex: 1;
  text-align: center;
  margin-top: -31px;
}

.sassTitle p {
  text-align: right;
  margin-top: -31px;
}

.sassContent {
  flex: 7;
  background-image: url("../img/boss/ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.sassPlaceHolder, .iassPlaceHolder {
  flex: 1;
}

.sassContent>li:first-child {
  margin-left: 80px;
}

.sassContent>li {
  cursor: pointer;
  text-align: center;
  width: 14%;
  margin-right: 10px;
  height: 82px;
  float: left;
  list-style: none;
  padding-top: 10px;
  background-color: #262627;
  margin-top: -50px;
  font-size: 16px;
}

.sassLiContentFont {
  margin-top: 10px;
}

.sassLiContentFont{
  font-size: 14px;
  color: #30af81;
  line-height: 12px;
}
.sassLiContentFont.single{
  line-height: 28px;
}
.sassContentFirstList {
  color: #30af81;
  font-size: 32px;
}

.iaasTitle {
  flex: 1;
}

.iaasTitle p {
  text-align: right;
  margin-top: -25px;
}

.iaasContent {
  flex: 7;
  background-image: url("../img/boss/ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  font-size: 14px;
}

.iaasContent>li {
  cursor: pointer;
  text-align: center;
  float: left;
  width: 9%;
  margin-right: 8px;
  list-style: none;
  margin-top: -35px;
}

.iaasContent>li:first-child {
  margin-left: 80px;
}

.iaasContent>li>i {
  color: #30af81;
  font-size: 48px;
}

.iaasContent>li>p {
  margin-top: 10px;
}

.cloudImgWrap {
  background-image: url("../img/boss/di.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 5px;
}

.cloud {
  margin: -35px auto 0;
  width: 206px;
  height: 118px;
  background-image: url("../img/boss/yun.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
}
.vpn {
  text-align: center;
  margin-top: -40px;
  margin-bottom: -20px;
  font-size: 50px;
  font-weight: bold;
  color: #30af81;
}
.stat {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -90px;
  line-height: 1.5;
}
.stat .title{
  font-size: 16px;
}
.stat .num{
  font-size: 30px;
  font-weight: bold;
  color: #30af81;
}
.countryGroupWrap {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.countryGroup {
  flex: 1;
  background-color: #222223;
  line-height: 25px;
}
.countryGroup:not(:last-child){
  margin-right: 10px;
}

.countryTitle {
  text-align: center;
  border-bottom: 1px solid #303031;
}

.countryItem {
  display: flex;
  font-size: 14px;
  margin: 5px auto;
  cursor: pointer;
}

.countryImg {
  width: 20%;
  padding-left: 10px;
}

.countryImg img {
  width: 30px;
  height: 20px;
  display: block;
  font-size: 0;
}
.countryName {
  width: 40%;
}
.name {
  margin: 0 auto;
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/
  width: 56px;
}

.countryTime {
  width: 25%;
  text-align: center;
  padding-top: 1px;
}

.countryStatus {
  width: 15%;
  padding-top: 5px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 3px auto;
}

.canvasDiv {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

@-webkit-keyframes star_01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes star_01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes star_span_01 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-290px);
  }
}

@keyframes star_span_01 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-290px);
  }
}

@-webkit-keyframes star_i_01 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(88.2px) scale(1);
  }
}

@keyframes star_i_01 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(88.2px) scale(1);
  }
}

@-webkit-keyframes star_span_02 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350px);
  }
}

@keyframes star_span_02 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-350px);
  }
}

@-webkit-keyframes star_i_02 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(106.2px) scale(1);
  }
}

@keyframes star_i_02 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(106.2px) scale(1);
  }
}

@-webkit-keyframes star_span_03 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-410px);
  }
}

@keyframes star_span_03 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-410px);
  }
}

@-webkit-keyframes star_i_03 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(124.2px) scale(1);
  }
}

@keyframes star_i_03 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(124.2px) scale(1);
  }
}


.wrap-bg {
  width: 290px;
  height: 290px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -145px;
  border: 2px solid #30af81;
  border-radius: 50%;
  -webkit-transform: scale3d(1, 0.3, 1);
  transform: scale3d(1, 0.3, 1);
}

.wrap-bg2 {
  width: 350px;
  height: 350px;
  top: -30px;
  margin-left: -175px;
}

.wrap-bg3 {
  width: 410px;
  height: 410px;
  top: -50px;
  margin-left: -205px;
}
.wrap-icon {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 50%;
  top: 0;
  z-index: 2;
  opacity: 0;
  width: 15px;
  height: 15px;
  margin-top: 84px;
  margin-left: 140px;
  -webkit-animation: star_01 0.5s 2.5s linear forwards;
  animation: star_01 0.5s 2.5s linear forwards;
}

.wrap-icon span {
  width: 15px;
  height: 15px;
  display: block;
  -webkit-animation: star_span_01 10s 0s ease-in-out infinite;
  animation: star_span_01 10s 0s ease-in-out infinite;
}

.wrap-icon i {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  background: #30af81;
  background-size: 100% 100%;
  -webkit-animation: star_i_01 10s 2.5s ease-in-out infinite;
  animation: star_i_01 10s 2.5s ease-in-out infinite;
}
.wrap-icon2 {
  margin-left: 170px;
  margin-top: 87px;
}

.wrap-icon2 span {
  width: 12px;
  height: 12px;
  -webkit-animation: star_span_02 16s 0s ease-in-out infinite;
  animation: star_span_02 16s 0s ease-in-out infinite;
}

.wrap-icon2 i {
  width: 12px;
  height: 12px;
  -webkit-animation: star_i_02 16s 4s ease-in-out infinite;
  animation: star_i_02 16s 4s ease-in-out infinite;
}

.wrap-icon3 {
  margin-left: 200px;
  margin-top: 87px;
}

.wrap-icon3 span {
  width: 18px;
  height: 18px;
  -webkit-animation: star_span_03 12s 0s ease-in-out infinite;
  animation: star_span_03 12s 0s ease-in-out infinite;
}

.wrap-icon3 i {
  width: 18px;
  height: 18px;
  -webkit-animation: star_i_03 12s 3s ease-in-out infinite;
  animation: star_i_03 12s 3s ease-in-out infinite;
}
.countryLine {
  position: relative;
  width: 80%;
  margin: 10px auto 0;
  display: flex;
  overflow: hidden;
}
.itemLine {
  position: relative;
  width: 100%;
  height: 120px;
  text-align: center;
  cursor: pointer;
}
.itemLine:after {
  content:"";
	position:absolute;
	width:400%;
	height:2px;
	bottom:0;
	z-index:3;
	background:-webkit-repeating-linear-gradient(0deg,#30af81 0,#30af81 3px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 6px);
}

.itemLine1{
  top: 47px;
  left: -10%;
  transform:rotateZ(-25deg);
}
.itemLine1.itemLine:after{
  -webkit-animation: solid-line-right linear 20s infinite;
  animation:solid-line-right linear 20s infinite;
}
.itemLine2 {
  top: -25px;
  left: 14%;
  transform:rotateZ(-230deg);
}
.itemLine2.itemLine:after{
  -webkit-animation: solid-line-left linear 15s infinite;
  animation:solid-line-left linear 15s infinite;
}
.itemLine3{
  top: 150px;
  left: 1%;
  transform:rotateZ(230deg);
}
.itemLine3.itemLine:after{
  -webkit-animation: solid-line-right linear 15s infinite;
  animation:solid-line-right linear 15s infinite;
}
.itemLine4{
  top: -140px;
  right: 31%;
  transform:rotateZ(25deg);
}
.itemLine4.itemLine:after{
  -webkit-animation: solid-line-left linear 20s infinite;
  animation:solid-line-left linear 20s infinite;
}
.cloudline {
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.cloudline .line:after{
  content:"";
	position:absolute;
  left: 50%;
	width:2px;
	height:200%;
	bottom:-73%;
	z-index:3;
	background:-webkit-repeating-linear-gradient(90deg,#30af81 0,#30af81 3px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 6px);
  -webkit-animation: solid-line-down linear 8s infinite;
  animation:solid-line-down linear 8s infinite;
}
@keyframes solid-line-left {
  from {
  	transform:translateX(0);
  }
  to {
  	transform:translateX(-50%);
  }
}
@-webkit-keyframes solid-line-left {
  from {
  	transform:translateX(0);
  }
  to {
  	transform:translateX(-50%);
  }
}
@keyframes solid-line-right {
  from {
  	transform:translateX(-50%);
  }
  to {
  	transform:translateX(0);
  }
}
@-webkit-keyframes solid-line-right {
  from {
  	transform:translateX(-50%);
  }
  to {
  	transform:translateX(0);
  }
}
@keyframes solid-line-down {
  from {
  	transform:translateY(-50%);
  }
  to {
  	transform:translateY(0);
  }
}
@-webkit-keyframes solid-line-down {
  from {
  	transform:translateY(-50%);
  }
  to {
  	transform:translateY(0);
  }
}
.light {
  position: relative;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.none-light {
  background-color: #999999;
}
.good-light{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe-green;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe-green {
  0% { opacity: .2;background-color:#30af81; border:1px solid #30af81; box-shadow:0 1px 30px #30af81;}
  100% { opacity: 1;background-color:#30af81; border:1px solid #30af81; box-shadow:0 1px 30px #30af81;}
}
.error-light{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe-red;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe-red {
  0% { opacity: .2;background-color:#ff1d04; border:1px solid #ff1d04; box-shadow:0 1px 30px #ff1d04;}
  100% { opacity: 1;background-color:#ff1d04; border:1px solid #ff1d04; box-shadow:0 1px 30px #ff1d04;}
}
.bad-light{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe-yellow;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe-yellow {
  0% { opacity: .2;background-color:#d1d41a; border:1px solid #d1d41a; box-shadow:0 1px 30px #d1d41a;}
  100% { opacity: 1;background-color:#d1d41a; border:1px solid #d1d41a; box-shadow:0 1px 30px #d1d41a;}
}
