html, body {
    margin: 0;
    padding: 0;
    font-family: 'PingFang HK Regular', 'PingFang HK','Roboto','Helvetica','Arial','sans-serif';
    font-size: 14px;
    line-height: 1.5;
    color: #b9b9b9;
    background-color: #333333;
    overflow: hidden;
    padding: 20px;
}
.content {
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.content.down {
    display: block;
    margin: 0;
    height: 210px;
}
.item {
    display: inline-block;
    box-sizing: border-box;
    font-size: 0;
    width: 15%;
}
.item img {
    display: block;
    font-size: 0;
    width: 100%;
}
.item .status {
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
}
.item .status img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.split{
    display: inline-block;
    position: relative;
    width: 13.333333%;
    height: 100%;
}
.split .line {
    position: absolute;
    display: block;
    top:40%;
    left: 2.5%;
    margin-top: -1px;
    width: 95%;
    height: 3px;
    background-color: #797979;
}
.split.left .line .arrow {
    position: absolute;
    top: 50%;
    right: -1%;
    margin-top: -10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #797979;
    border-bottom: 10px solid transparent;
}
.split.right .line .arrow {
    position: absolute;
    top: 50%;
    left: -1%;
    margin-top: -10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #797979;
    border-bottom: 10px solid transparent;
}
.split.down .line .arrow {
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 20px solid #797979;
    border-right: 10px solid transparent;
}

.split.down {
    position: relative;
    float: right;
    display: block;
    width: 14.5%;
    height: 200px;
    margin-right: 20px;
}
.split.down .line{
    position: absolute;
    top: 0;
    left: 60%;
    display: block;
    content: 'line';
    font-size: 0;
    height: 90%;
    width: 3px;
    background-color: #797979;
}
.line.success {
    background-color: #30af81;
}
.line.error {
    background-color: #ff1d04;
}
.split.down .line.success {
    background-color: #30af81;
}
.split.down .line.error {
    background-color: #ff1d04;
}
.split.left .line .arrow.success {
    border-left: 20px solid #30af81;
}
.split.left .line .arrow.error {
    border-left: 20px solid #ff1d04;
}
.split.right .line .arrow.success {
    border-right: 20px solid #30af81;
}
.split.right .line .arrow.error {
    border-right: 20px solid #ff1d04;
}
.split.down .line .arrow.success {
    border-top: 20px solid #30af81;
}
.split.down .line .arrow.error {
    border-top: 20px solid #ff1d04;
}
.clear {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.clear:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
