html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

#main {
  width: 100%;
  height: 100%;
}

.main-title {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 100px;
}
.main-title img{
  height: 100%;
}

.aws {
  position: absolute;
  box-sizing: border-box;
  top: 19%;
  left: 12%;
  width: 165px;
}

.startimes {
  position: absolute;
  box-sizing: border-box;
  top: 16%;
  right: 11%;
  width: 185px;
}

.total {
  position: absolute;
  bottom: 9%;
  left: 10%;
  width: 220px;
}

.legend {
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.aws-item, .startimes-item {
  display: inline-block;
  width: 80px;
  background-color: rgba(22, 194, 249, 0.5);
  font-size: 12px;
  border-radius: 20px;
  text-align: center;
  line-height: 1.6;
  color: #d4e1ea;
  margin-top: 5px;
}

.aws-item:nth-child(2n), .startimes-item:nth-child(2n) {
  margin-left: -3px;
}

.startimes-item {
  width: 90px;
}

.total-title img {
  margin-left: 11%;
  width: 78%;
  margin-bottom: 5px;
}

.total-item {
  margin-top: 3px;
  background-color: #262626;
  padding: 0 25px;
  line-height: 1.8;
  color: #aab3b9;
  font-size: 12px;
}
.total-item img{
  height: 20px;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin-right: 5px;
}

.total-item .img {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.total-item .title {
  display: inline-block;
  width: 80px;
}

.total-item span {
  display: inline-block;
  width: 30px;
  text-align: right;
  font-size: 16px;
  color: #16c2f9;
  margin-right: 10px;
}
.legend {
  width: 180px;
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
}

.legend-title img {
  /* margin-left: 11%; */
  width: 100%;
  margin-bottom: 5px;
}

.legend-item{
  cursor: pointer;
  margin-top: 3px;
  background-color: #262626;
  padding: 0 25px;
  line-height: 1.8;
}
.legend-item i {
  margin-right: 10px;
  font-size: 14px;
}
.legend-item i:before {
  content: "\e60c";
}
.legend-item.checked i:before {
  content: "\e63e";
}
@media screen and (max-width: 1400px) {
  .main-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
  }
  .aws {
    top: 18%;
    left: 5%;
  }

  .startimes {
    top: 12%;
    right: 10%;
  }
  .total {
    bottom: 5%;
    left: 5%;
  }

  .legend {
    bottom: 5%;
    right: 10%;
  }
}
