<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
  <title>运维列表</title>
  <link rel="stylesheet" href="css/master.css">
</head>

<body>
  <div id="chat">
    <div class="sidebar">
      <div class="m-card">
        <header>
          <p class="name">在线人员列表</p>
        </header>
      </div>
      <!--v-component-->
      <div class="m-list">
        <ul>
          <!--v-for-start-->
          <li><img class="avatar" width="30" height="30" src="img/1.jpg">
            <p class="name">李军</p>
          </li>
          <li><img class="avatar" width="30" height="30" src="img/2.jpg">
            <p class="name">候铭睿</p>
          </li>
          <li><img class="avatar" width="30" height="30" src="img/3.jpg">
            <p class="name">杨小龙</p>
          </li>
          <!--v-for-end-->
        </ul>
      </div>
      <!--v-component-->
    </div>
    <div class="main">
      <div id="dialog" class="m-message">
        <ul>
          <!--v-for-start-->
          <li v-for="chat in chatList">
            <p class="time"><span>{{chat.time}}</span></p>
            <div class="main" :class="{self:chat.user.name!=='ai'}"><img class="avatar" width="30" height="30" :src="chat.user.img">
              <div class="text" v-html="chat.content"></div>
            </div>
          </li>
          <!--v-for-end-->
        </ul>
      </div>
      <!--v-component-->
      <div class="m-text"><textarea v-model="question" placeholder="按 Enter 发送" @keyup.enter="enterQuestion"></textarea></div>
      <!--v-component-->
    </div>
  </div>
</body>
<script src="js/vue.js" charset="utf-8"></script>
<script src="js/data.js" charset="utf-8"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#chat',
    data () {
      return {
        question: '',
        chatList: []
      }
    },
    updated() {
      var dialog = document.getElementById('dialog')
      dialog.scrollTop = dialog.scrollHeight
    },
    methods: {
      enterQuestion: function () {
        var _this = this
        if (this.question.indexOf('灰度升级') >= 0) {
          _this.chatList.push({
            user: {
              name: '李军',
              img: 'img/1.jpg'
            },
            time: _this.getNowFormatDate(),
            content: _this.question
          })
          _this.question = ''
          for (var i=0;i<yunwei.length;i++) {
            _this.addAIChat(i,yunwei)
          }
        } else if (this.question.indexOf('运行状态') >= 0) {
          _this.chatList.push({
            user: {
              name: '候铭睿',
              img: 'img/2.jpg'
            },
            time: _this.getNowFormatDate(),
            content: _this.question
          })
          _this.question = ''
          for (var i=0;i<zhuangtai.length;i++) {
            _this.addAIChat(i,zhuangtai)
          }
        } else if (this.question.indexOf('自毁') >= 0) {
          _this.chatList.push({
            user: {
              name: '杨小龙',
              img: 'img/3.jpg'
            },
            time: _this.getNowFormatDate(),
            content: _this.question
          })
          _this.question = ''
          for (var i=0;i<zihui.length;i++) {
            _this.addAIChat(i,zihui,1000)
          }
          setTimeout(function () {
            window.opener=null
            window.close()
          }, 12000)
        } else {
          _this.chatList.push({
            user: {
              name: '李军',
              img: 'img/1.jpg'
            },
            time: _this.getNowFormatDate(),
            content: _this.question
          })
          _this.question = ''
          _this.chatList.push({
            user: {
              name: 'ai',
              img: 'img/ai.jpg'
            },
            time: _this.getNowFormatDate(),
            content: '你说啥呢，我听不懂....'
          })
        }
      },
      addAIChat: function(i,data,time) {
        time = time || 3000
        var _this = this
        setTimeout(function () {
          _this.chatList.push({
            user: {
              name: 'ai',
              img: 'img/ai.jpg'
            },
            time: _this.getNowFormatDate(),
            content: data[i]
          })
        }, i*time)
      },
      getNowFormatDate: function() {
        var date = new Date()
        var seperator1 = '-'
        var seperator2 = ':'
        var month = date.getMonth() + 1
        var strDate = date.getDate()
        if (month >= 1 && month <= 9) {
          month = '0' + month
        }
        if (strDate >= 0 && strDate <= 9) {
          strDate = '0' + strDate
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate + ' ' + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds()
        return currentdate
      }
    }
  });
</script>
</html>
