<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="utf-8">
  <title>四达时代监控平台</title>
  <link rel="stylesheet" href="static/index.css?version=1534216246516">
  <link rel="stylesheet" type="text/css" href="static/font/iconfont.css?version=1534216246516">
  <style media="screen">
    iframe {
      background-color: #5f5f62;
    }
  </style>
</head>

<body>
  <div class="left">
    <div class="main">
      <div id="maxVideo" class="video"></div>
      <div id="loading" class="mask">
        <img src="static/loading-mask.png" class="loading-mask"/>
        <img src="static/loading-body.png" class="loading-body"/>
        <div id="info" class="mask-info">网络连接中<img src="static/loading.gif" /></div>
      </div>
    </div>
    <div class="other">
      <div class="min min-hide">
        <div id="minVideo1" class="video"></div>
        <div id="loading1" class="mask">
          <img src="static/loading-mask.png" class="loading-mask min-loading"/>
          <img src="static/loading-body.png" class="loading-body min-loading"/>
          <div id="info1" class="mask-info min-info">网络连接中<img src="static/loading.gif" /></div>
        </div>
      </div>
      <div class="min">
        <div id="minVideo2" class="video"></div>
        <div id="loading2" class="mask">
          <img src="static/loading-mask.png" class="loading-mask min-loading"/>
          <img src="static/loading-body.png" class="loading-body min-loading"/>
          <div id="info2" class="mask-info min-info">网络连接中<img src="static/loading.gif" /></div>
        </div>
      </div>
      <div class="min">
        <div id="minVideo3" class="video"></div>
        <div id="loading3" class="mask">
          <img src="static/loading-mask.png" class="loading-mask min-loading"/>
          <img src="static/loading-body.png" class="loading-body min-loading"/>
          <div id="info3" class="mask-info min-info">网络连接中<img src="static/loading.gif" /></div>
        </div>
      </div>
      <div class="min">
        <div id="minVideo4" class="video"></div>
        <div id="loading4" class="mask">
          <img src="static/loading-mask.png" class="loading-mask min-loading"/>
          <img src="static/loading-body.png" class="loading-body min-loading"/>
          <div id="info4" class="mask-info min-info">网络连接中<img src="static/loading.gif" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <!-- <div class="header">
      <div class="title">查看监控设备</div>
      <div class="header-line"></div>
      <div class="date">
        <div class="date-week">
          <div id="week"></div>
          <div id="date"></div>
        </div>
        <div id="time" class="time"></div>
      </div>
    </div> -->
    <div id="videoTree" class="video-list">
    </div>
    <div class="control">
      <div class="controler-direction">
        <div class="outter-circle">
          <div class="direction control-btn" data-type="TILT_UP">·</div>
          <div class="direction control-btn" data-type="PAN_RIGHT">·</div>
          <div class="direction control-btn" data-type="PAN_LEFT">·</div>
          <div class="direction control-btn" data-type="TILT_DOWN">·</div>
        </div>
          <div class="inner-circle"></div>
      </div>
      <div class="controler-zoom">
        <div class="zoom control-btn" data-type="ZOOM_IN">+</div>
        <div class="zoom">缩放</div>
        <div class="zoom control-btn" data-type="ZOOM_OUT">-</div>
      </div>
      <div class="controler-setting">
        <i class="iconfont icon-settings"></i>
        <ul class="controler-speed">
          <li data-speed="1">1倍</li>
          <li data-speed="2">2倍</li>
          <li data-speed="3">3倍</li>
          <li data-speed="4" class="active">4倍</li>
          <li data-speed="5">5倍</li>
          <li data-speed="6">6倍</li>
          <li data-speed="7">7倍</li>
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="ckplayer/ckplayer.js?version=1534216246516"></script>
  <script src="./static/video-list.js?version=1534216246516.0.0"></script>
  <script src="static/jquery.min.js?version=1534216246516" charset="utf-8"></script>
  <script src="./static/template-web.js?version=1534216246516"></script>
  <script id="videoTreeTpl" type="text/html">
    <ul class="country-list">
      {{each list country key}}
      <li class="country-item">
        <div class="country-name {{if key==currentCuntryId}}active{{/if}}" onClick="javascript:location.href = location.pathname + '?id={{key}}'">
          <img class="country-flag" src="./static/country/{{country.enName}}.jpg" /> {{country.name}}
        </div>
        <ul class="camera-list">
          {{each country.list camera}} {{if key==currentCuntryId}}
          <li id="{{currentCuntryId}}-{{$index}}" class="camera-name {{if $index == currentIndex}}active no-link{{/if}}" {{if $index != currentIndex}}onClick="changeMaxVideo({{currentCuntryId}}, {{$index}})"{{/if}}>{{camera.name}}</li>
          {{else}}
          <li class="camera-name no-link">{{camera.name}}</li>
          {{/if}} {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </script>
  <script type="text/javascript">
    var countryId = getUrlKey('id') || 1,
      videoIndex = getUrlKey('index') || 0,
      minVideoId = 1
    var currentVideoObj = videoList[countryId]
    var currentVideoList = currentVideoObj.list
    var flashvars = {
  		s: '0',//调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
      lv: '1', // 是否是直播流，=1则锁定进度栏
      p: '1', // 自动播放 0=默认暂停 1=默认播放 2=默认不加载视频
      b: '0', // 是否允许和播放器进行交互，0=允许，1是不允许
      v: '100' // 音量，取值范围0-100，该值只是设置默认音量，用户可以通过键盘操作音量大于100
    }
    //这里定义播放器的其它参数如背景色（跟flashvars中的b不同），是否支持全屏，是否支持交互
    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always'}
    $(document).ready(function(){
      if (currentVideoList != undefined) {
        initVideoPlayer(videoIndex)
      }
      // getWeek()
      // getDate()
      // getTime()
      initVideoTree(countryId, videoIndex)
      getCameraStatus(countryId)
      setInterval(getTime, 10000)
      setInterval(getCameraStatus, 600000)
      $('.control-btn').on('mousedown', function(){
        controlPost('/start/', $(this).attr('data-type'), function(res) {
          console.log('start', res)
        })
      })
      $('.control-btn').on('mouseup', function(){
        var _this = this
        controlPost('/stop/', $(_this).attr('data-type'), function(res) {
          console.log('stop', res)
        })
      })
      $('.controler-speed > li').on('click', function() {
        var _this = this
        $(this).addClass('active')
        $('.controler-speed > li').each(function(){
          if(this != _this) {
            $(this).removeClass('active')
          }
        })
      })
    })
    // 初始化视频
    function initVideoPlayer(currentIndex) {
      for (var i = 0; i < currentVideoList.length; i++) {
        var videoObj = currentVideoList[i]
        var $minVideoDiv = $('#minVideo' + minVideoId)
        $('#loading').show()
        $('#info').html('网络连接中<img src="static/loading.gif" />')
        if (i == currentIndex) {
          var $videoDiv = $('#maxVideo')
          $minVideoDiv.parent().addClass('min-hide')
          flashvars.f = videoObj.rtmp
          flashvars.wh = $videoDiv.width() + ':' + $videoDiv.height()
          flashvars.loaded = 'loadedHandler' //当播放器加载完成后发送该js函数loaded
          CKobject.embed('ckplayer/ckplayer.swf', 'maxVideo', 'ckplayer_maxVideo', '100%', '100%', false, flashvars, params)
          $videoDiv.attr('url', videoObj.rtmp)
        } else {
          $minVideoDiv.parent().removeClass('min-hide')
        }
        $('#loading' + minVideoId).show()
        $('#info' + minVideoId).html('网络连接中<img src="static/loading.gif" />')
        flashvars.f = videoObj.low
        flashvars.wh = $minVideoDiv.width() + ':' + $minVideoDiv.height()
        flashvars.loaded = 'loadedHandler' + minVideoId //当播放器加载完成后发送该js函数loaded
        CKobject.embed('ckplayer/ckplayer.swf', 'minVideo' + minVideoId, 'ckplayer_minVideo' + minVideoId, '100%', '100%', false, flashvars, params)
        $minVideoDiv.attr('url', videoObj.low)
        minVideoId++
      }
      minVideoId = 1
    }
    // 更换大的视频
    function changeMaxVideo(currentCuntryId, currentIndex){
      videoIndex = currentIndex
      window.history.pushState({}, 0, location.pathname + '?id=' + currentCuntryId + '&index=' + currentIndex)
      $('#loading').show()
      $('#info').html('网络连接中<img src="static/loading.gif" />')
      for (var i = 0; i < 4; i++) {
        var videoObj = currentVideoList[i]
        var $minVideoDiv = $('#minVideo' + minVideoId)
        if (i == currentIndex) {
          var $videoDiv = $('#maxVideo')
          $minVideoDiv.parent().addClass('min-hide')
          flashvars.f = videoObj.rtmp
          flashvars.wh = $videoDiv.width() + ':' + $videoDiv.height()
          flashvars.loaded = 'loadedHandler' //当播放器加载完成后发送该js函数loaded
          CKobject.embed('ckplayer/ckplayer.swf', 'maxVideo', 'ckplayer_maxVideo', '100%', '100%', false, flashvars, params)
          $videoDiv.attr('url', videoObj.rtmp)
        } else {
          $minVideoDiv.parent().removeClass('min-hide')
        }
        minVideoId++
      }
      minVideoId = 1
      initVideoTree(currentCuntryId, currentIndex)
    }
    // 初始化左侧树
    function initVideoTree(currentCuntryId, currentIndex) {
      videoIndex = currentIndex
      window.history.pushState({}, 0, location.pathname + '?id=' + currentCuntryId + '&index=' + currentIndex)
      $('#videoTree').html(template('videoTreeTpl', {
        list: videoList,
        currentCuntryId: currentCuntryId,
        currentIndex: currentIndex
      }))
    }
    // 获取视频状态
    function getCameraStatus() {
      for (var i = 0; i < currentVideoList.length; i++) {
        $.ajax({
          type : "POST",
          url: 'http://' + baseURL + ':8000/status/',
          data :JSON.stringify({
            targetDVR: currentVideoList[i].targetIp
          }),
          success: function(res) {
            console.log('status:', res)
          }
        })
      }
    }
    // 加载完成后执行
    function loadedHandler() {
      CKobject.getObjectById('ckplayer_maxVideo').addListener('fullScreen', 'fullScreenHandler')
      CKobject.getObjectById('ckplayer_maxVideo').addListener('netStatus','videoHandler')
    }

    // 加载完成后执行
    function loadedHandler1() {
      CKobject.getObjectById('ckplayer_minVideo1').addListener('fullScreen', 'fullScreenHandler1')
      CKobject.getObjectById('ckplayer_minVideo1').addListener('netStatus','videoHandler1')
    }
    // 加载完成后执行
    function loadedHandler2() {
      CKobject.getObjectById('ckplayer_minVideo2').addListener('fullScreen', 'fullScreenHandler2')
      CKobject.getObjectById('ckplayer_minVideo2').addListener('netStatus','videoHandler2')
    }
    // 加载完成后执行
    function loadedHandler3() {
      CKobject.getObjectById('ckplayer_minVideo3').addListener('fullScreen', 'fullScreenHandler3')
      CKobject.getObjectById('ckplayer_minVideo3').addListener('netStatus','videoHandler3')
    }
    // 加载完成后执行
    function loadedHandler4() {
      CKobject.getObjectById('ckplayer_minVideo4').addListener('fullScreen', 'fullScreenHandler4')
      CKobject.getObjectById('ckplayer_minVideo4').addListener('netStatus','videoHandler4')
    }
    // 监听全屏事件
    function fullScreenHandler(b) {
      if (b) {
        openMaxVideo(0)
      }
    }
    // 监听全屏事件
    function fullScreenHandler1(b) {
      if (b) {
        openMaxVideo(0)
      } else {
        // initVideoPlayer(videoIndex)
      }
    }
    // 监听全屏事件
    function fullScreenHandler2(b) {
      if (b) {
        openMaxVideo(1)
      } else {
        // initVideoPlayer(videoIndex)
      }
    }
    // 监听全屏事件
    function fullScreenHandler3(b) {
      if (b) {
        openMaxVideo(2)
      } else {
        // initVideoPlayer(videoIndex)
      }
    }
    // 监听全屏事件
    function fullScreenHandler4(b) {
      if (b) {
        openMaxVideo(3)
      } else {
        // initVideoPlayer(videoIndex)
      }
    }
    // 监听视频流
    function videoHandler(s){
      handlerVideoStatus(s, '')
  	}
    // 监听视频流
    function videoHandler1(s){
      handlerVideoStatus(s, '1')
  	}
    // 监听视频流
    function videoHandler2(s){
      handlerVideoStatus(s, '2')
  	}
    // 监听视频流
    function videoHandler3(s){
      handlerVideoStatus(s, '3')
  	}
    // 监听视频流
    function videoHandler4(s){
      handlerVideoStatus(s, '4')
  	}
    // 解析视频流
    function handlerVideoStatus(s, id) {
      console.log(id, s)
      var $loading = $('#loading' + id),$info = $('#info' + id)
      var ckpayerId = !id? 'maxVideo' : ('minVideo' + id)
      switch (s) {
        case 'NetConnection.Connect.Success':
          $info.html('网络连接中<img src="static/loading.gif" />')
          break;
        case 'NetStream.Play.Start':
          $info.html('网络连接成功<img src="static/loading.gif" />')
          break;
        case 'NetStream.Unpause.Notify':
          $info.html('视频加载中<img src="static/loading.gif" />')
          break;
        case 'NetStream.Buffer.Full':
          $loading.hide()
          CKobject.getObjectById('ckplayer_' + ckpayerId).removeListener('netStatus','videoHandler' + id)
          break;
        case 'NetStream.Play.StreamNotFound':
          $info.text('视频连接失败')
          setTimeout(function(){
            CKobject.getObjectById('ckplayer_' + ckpayerId).removeListener('netStatus','videoHandler' + id)
          },1000)
          break;
      }
    }
    // 关闭视频
    function openMaxVideo(index) {
      // index=0时，不需要做其它操作
      if (index > 0) {
        // 主视频停止播放
        CKobject.getObjectById('ckplayer_maxVideo').videoClear()
        // 小视频切换成大码率
        CKobject.getObjectById('ckplayer_minVideo' + (index + 1)).newAddress('{f->' + currentVideoList[index].rtmp + '}')
      }
      // for (var i = 0; i < currentVideoList.length; i++) {
      //   var ckpayerId = i == 0 ? 'maxVideo' : ('minVideo' + i)
      //   if (i != index) {
      //     CKobject.getObjectById('ckplayer_' + ckpayerId).videoClear()
      //   } else {
      //     if (index != 0) {
      //       CKobject.getObjectById('ckplayer_' + ckpayerId).newAddress('{f->' + currentVideoList[i].rtmp + '}')
      //     }
      //   }
      // }
    }
    // 获取url参数
    function getUrlKey(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
      var r = window.location.search.substr(1).match(reg); //匹配目标参数
      if (r != null) return unescape(r[2]);
      return null; //返回参数值
    }
    // 获取星期
    function getWeek() {
      $('#week').text('星期' + '日一二三四五六'.charAt(new Date().getDay()))
    }
    // 获取日期
    function getDate() {
      var now = new Date()
      var month = now.getMonth() + 1
      var day = now.getDate()
      month = month < 10 ? '0' + month : month
      day = day < 10 ? '0' + day : day
      $('#date').text( month + '.' + day)
    }
    // 获取时间
    function getTime() {
      var now = new Date()
      var hour = now.getHours()
      var minute = now.getMinutes()
      hour = hour < 10 ? '0' + hour : hour
      minute = minute < 10 ? '0' + minute : minute
      $('#time').text(hour + ' : ' + minute)
    }
    // 发送按键请求
    function controlPost(method, commandType, success) {
      var targetIp = currentVideoList[videoIndex].targetIp
      var speed = $('.controler-speed > li.active').attr('data-speed')
      $.ajax({
        type : "POST",
        url: 'http://' + baseURL + ':8000/monitorControl' + method,
        data :JSON.stringify({
          commandType: commandType,
          targetDVR: targetIp,
          speed: speed
        }),
        success: function(res) {
          success && success(res)
        }
      })
    }
  </script>
</body>

</html>
