<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>年会直播</title>
  <link rel="stylesheet" href="./static/bootstrap.css">
  <style media="screen">
    video {
      width: 100%;
    }
    #app {
      max-width: 100%;
    }
    #app .row {
      text-align: center;
    }
  </style>
</head>

<body>
  <script src="./list.js"></script>
  <script src="./static/hls.min.js"></script>
  <script src="./static/vue.js"></script>
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <video id="video" controls autoplay></video>
      </div>
      <div class="col-xs-12 col-md-2" style="padding-top:3%;">
        <div v-if="index < 3" v-for="(item,index) in list">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <video :id="'video'+index" muted autoplay></video>
              </div>
              <div class="row">
                <button class="btn btn-primary" @click="showMe(item)">设为主屏</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="index >= 3" v-for="(item,index) in list" class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <video :id="'video'+index" muted autoplay></video>
            </div>
            <div class="row">
              <button class="btn btn-primary" @click="showMe(item)">设为主屏</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          init: false,
          list: videoList
        }
      },
      created () {
        var video = document.getElementById('video');
        video.style.height = video.offsetWidth*9/16 + 'px';
      },
      mounted() {
        if (!this.init) {
          videoList.forEach(function(item, index) {
            var video = document.getElementById('video' + index);
            if (Hls.isSupported()) {
              var hls = new Hls();
              hls.loadSource(item);
              hls.attachMedia(video);
              hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
              });
            } else {
              video.src = item;
              video.play();
            }
          })
        }
      },
      methods: {
        showMe: function(item) {
          var video = document.getElementById('video');
          if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(item);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
              video.play();
            });
          } else {
            video.src = item;
            video.play();
          }
        }
      }
    });
  </script>
</body>

</html>
