html, body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang HK Regular', 'PingFang HK','Roboto','Helvetica','Arial','sans-serif';
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #333333;
  overflow: hidden;
}
.title {
  position: relative;
  background-color: #151515;
  line-height: 45px;
  text-align: center;
}
.result {
  position: absolute;
  display: inline-flex;
  top: 0;
  line-height: 45px;
  right: 10px;
  text-align: right;
  align-items: center;
}
.light {
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}
.error-status {
  background-color: #ff1d04;
}
.bad-status {
  background-color: #d1d41a;
}
.error-light{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe-red;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe-red {
  0% { opacity: .2;background-color:#ff1d04; border:1px solid #ff1d04; box-shadow:0 1px 30px #ff1d04;}
  100% { opacity: 1;background-color:#ff1d04; border:1px solid #ff1d04; box-shadow:0 1px 30px #ff1d04;}
}
.bad-light{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe-yellow;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes breathe-yellow {
  0% { opacity: .2;background-color:#d1d41a; border:1px solid #d1d41a; box-shadow:0 1px 30px #d1d41a;}
  100% { opacity: 1;background-color:#d1d41a; border:1px solid #d1d41a; box-shadow:0 1px 30px #d1d41a;}
}
table{
  width: 100%;
  text-align: center;
}
thead {
  background-color: #535353;
}
tr:nth-child(2n){
  background-color: #3c3c3c;
}
th, td {
  line-height: 40px;
  overflow: hidden;
}
th span, td span{
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
  padding: 0 8px;
}

th:nth-child(1),td:nth-child(1) {
  width: 120px;
  max-width: 120px;
}
th:nth-child(2),td:nth-child(2) {
  max-width: 100px;
}
th:nth-child(3),th:nth-child(4),td:nth-child(3),td:nth-child(4) {
  width: 90px;
  max-width: 90px;
}
th:nth-child(5),td:nth-child(5) {
  width: 40px;
  max-width: 40px;
}
#main {
  width: 100%;
  margin: 0 auto;
  height: 350px;
}
