@font-face {
  font-family: hyzh;
  src: url('./hyzh.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'hyzh';
}

#main {
  width: 100%;
  height: 100%;
}

.total {
  position: absolute;
  left: 50px;
  bottom: 40px;
}

.total .item {
  /* background-color: rgba(255, 255, 255, 0.05); */
  /* border-radius: 5px; */
  margin-top: 15px;
  padding: 12px 16px 12px 12px;
}

.total .item .label {
  display: inline-block;
  padding: 0 10px;
}
.total .item .label img{
  display: block;
  font-size: 0;
  width: 57px;
  height: 57px;
}
/* .total .item .content {
  display: inline-block;
} */

.total .item .content .title {
  color: #b9b9b9;
  margin-bottom: 15px;
  font-size: 16px;
}

.total .item .content .number {
  display: inline-flex;
  width: 100%;
  text-align: right;
}

.radar, .aws {
  position: absolute;
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  line-height: 20px;
  background-color: rgba(43, 43, 43, 0.8);
  border: 1px solid #525252;
}
.aws {
  left: 50px;
  top: 60px;
}
.radar {
  right: 20px;
  bottom: 40px;
}
.radar .title, .aws .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.radar p, .aws p {
  display: inline;
  line-height: 25px;
}
.radar label, .aws label {
  color: #b9b9b9;
}
.radar span:nth-child(1), .aws span:nth-child(1) {
  position: absolute;
  left: -1px;
  top: -1px;
  padding: 7px;
  border-style: solid;
  border-color: #a2a2a2;
  border-width: 2px 0 0 2px;
}

.radar span:nth-child(2), .aws span:nth-child(2) {
  position: absolute;
  right: -1px;
  top: -1px;
  padding: 7px;
  border-style: solid;
  border-color: #a2a2a2;
  border-width: 2px 2px 0 0;
}

.radar span:nth-child(3), .aws span:nth-child(3) {
  position: absolute;
  right: -1px;
  bottom: -1px;
  padding: 7px;
  border-style: solid;
  border-color: #a2a2a2;
  border-width: 0 2px 2px 0;
}

.radar span:nth-child(4), .aws span:nth-child(4) {
  position: absolute;
  left: -1px;
  bottom: -1px;
  padding: 7px;
  border-style: solid;
  border-color: #a2a2a2;
  border-width: 0 0 2px 2px;
}
.led-number{
  position: relative;
  width: 35px;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}
.led-number li{
  display: block;
  position: absolute;
  width: 25px;
  height: 5px;

}
.led-number li:nth-child(1) {
  left: 0;
}
.led-number li:nth-child(2) {
  transform: rotateZ(90deg);
  top: 25px;
  left: -3px;
}
.led-number li:nth-child(3) {
  transform: rotateZ(90deg);
  top: 25px;
  left: 25px;
}
.led-number li:nth-child(4) {
  top: 27px;
  left: 0;
}
.led-number li:nth-child(5) {
  transform: rotateZ(90deg);
  top: 51px;
  left: -3px;
}
.led-number li:nth-child(6) {
  transform: rotateZ(90deg);
  top: 51px;
  left: 25px;
}
.led-number li:nth-child(7) {
  top: 53px;
  left: 0;
}
