<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
  <link rel="stylesheet" type="text/css" href="../static/base.css" />
  <title>自助诊疗</title>
<link href="../static/css/views/index.aa974be5101184582690a7676781d862.css?ab7be81d28b33804c590" rel="stylesheet"></head>
<body>
  <div id="app"></div>
  <script src="../static/config.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/manifest.41ec8f96d4c4c12cf2ee.js?ab7be81d28b33804c590"></script><script type="text/javascript" src="../static/js/vendor.732d61a71805a01f84ff.js?ab7be81d28b33804c590"></script><script type="text/javascript" src="../static/js/views/index.ae0840d2f8b63b42333c.js?ab7be81d28b33804c590"></script></body>
</html>
